

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Work Sans', sans-serif;
}

:root{ 
   --main-color: #7a9175;
   --second-color: #495551;
} 

section {
    padding: 50px 10%;
}

img {
    width: 100%;
}

section {
    
    position: relative;
    width: 100%;
    min-height: 60vh;
    padding: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f8f8f8;
}

*::selection {
    color: #fff;
    background: var(--main-color);
}

header {
    
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    box-shadow: 0 4px 41px rgb(14 55 54 / 14%);
    padding: 15px 10%;
    transition: 0.2s;
    width: 100%;
    }

.logo {
    display: flex;
    align-items: center;
}

.logo img{
    width: 40px;
}    

.navbar {
    display: flex;    
}

.navbar a {
    font-size: 1rem;
    padding: 11px 20px;
    color: var(--second-color);
    font-weight: 600;
    text-transform: uppercase;
}

#menu-icon {
    font-size: 24px;
    cursor: pointer;
    z-index: 1001;
    display: none;
}

.home {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: white;
    gap: 1rem;
}

.home-text {
    flex: 1 1 17rem;
}

.home-img {
    flex: 1 1 17rem;
}

.home-text span {
    font-size: 1.4rem;
    font-weight: bold;
    color: black;
}

.home-text h1 {
    font-size: 3.2rem;
    color: var(--main-color);
    font-weight: bolder;
}

.home-text h2 {
    font-size: 1.6rem;
    font-weight: 400;
    color: black;
    text-transform: capitalize;
    margin: 0.5rem 0 1.4rem;
}


.btn {
    padding: 7px 16px;
    border: 2px solid var(--second-color);
    border-radius: 40px;
    color: var(--second-color);
    font-weight: 600;
}

.btn:hover {
    color: #fff;
    background: var(--main-color);
}

.services {
    display: flex;
    flex-direction: column; /* */
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 50px 0; 
}

.heading {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 8px;
}

.heading span {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
    color: #7a9175;
}

.heading h1 {
    font-size: 36px;
    margin: 0;
    color: var(--second-color);
}

.servicios-container {
    
    display: flex;
    justify-content: space-around; 
    flex-wrap: wrap; /* Permitir que los elementos se envuelvan a la siguiente fila */
}

.box {
    
    width: 300px; /* Ancho de cada servicio, ajusta según sea necesario */
    margin: 20px; /* Espaciado entre los elementos, ajusta según sea necesario */
}

.hearts {
    margin: 1rem 0 0.1rem;
}

.servicios-container .box .hearts .bx {
    color: yellow;
}

.servicios-container .box .box-img img{
    margin-top: 70px;
    width: 100%;
    height: 100%;
    object-fit:cover
   
}

.servicios-container .box .box-img1 img{
    margin-top: 100px;
    width: 80px;
    height: 80px;
    object-fit: contain;
}


.box .btn-1 {
    margin-top: 10px; /* Agrega espacio sobre el botón */
    display: inline-block; /* Hace que el botón respete los márgenes */
    text-decoration: none;
    border-radius: 5px;
    padding: 7px 16px;
    border: 2px solid var(--main-color);
    border-radius: 40px;
    color: var(--main-color);
    font-weight: 600;
}

.btn:hover {
    background-color: var(--main-color);
}

.btn-1:hover {
    background-color: var(--main-color);
    color:#fff;
}

.about {
    display: flex;
    flex-wrap: wrap;
    background: #e0e0e0;
    gap: 1.5rem;
}

.about-img {
    flex: 1 1 17rem;
} 

.about-text {
    flex: 1 1 17rem;
}

.about-text h2 {
    font-size: 1.2rem;
    color: var(--main-color);
}

.about-text p {
    margin: 0.5rem 0 1rem;
    text-align: justify;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social a  {
    font-size: 27px;
    margin: 0.5rem;
}

.social a .bx {
    padding: 5px;
    color: #fff;
    background: #000000;
    border-radius: 50%; 
}

.social a .bx:hover {
    background: var(--main-color);
}

.links {
    margin: 1rem 0 1rem;
}

.links a {
    font-size: 1rem;
    font-weight: 600;
    color: var(--second-color);
    padding: 1rem;
}

.links a:hover {
    color: var(--main-color);
}

.contact p {
    text-align: center;
}

@media (max-width: 1150px) {
    header {
        padding: 18px 7%
    }

    section {
        padding: 50px 7%;
    }
    
    .home-text h1 {
        font-size: 3rem;
    }

    .home-text h2 {
        font-size: 1.5rem;
    }
}

@media (max-width: 991px) {
    header {
        padding: 18px 7%
    }

    section {
        padding: 50px 4%;
    }
        
}

@media (max-width: 768px) {
    header {
        padding: 1px 4%
    }
   #menu-icon {
     display: initial;
   }
    header .navbar{
        position: absolute;
        top: -500px;
        left: 0;
        right: 0;
        width: 100%;
        display: flex ;
        flex-direction: column;
        background: var(--second-color);
        box-shadow: 0 4px 4px rgb(14, 55, 55 / 14%);
        border-top: 2px solid var(--main-color);
        transition: 0.2s;
        text-align: center;
        overflow-y: auto;
    }

    .navbar.active {
        top: 100%;
    }

    .navbar a {
        padding: 1.5rem;
        display: block;
        color: #fff;
        line-height: 60px;
    }
    .navbar a:hover {
        padding: 1.5rem;
        display: block;
        color:var(--main-color);
    }

    .home-text span {
        font-size: 0.9rem;
    }

    .home-text h1 {
        font-size: 2.4rem;
    }

    .home-text h2 {
        font-size: 1.2rem;
    }
}

@media (max-width: 768px) {
    .home-text {
        padding-top: inherit
    }
}